# Creating the Sensitvity Matrix

The goal of this notebook it to take the cleaned up data on capture (income), nutrition, culture (tradition, social, and identity) and combine them into one master table where each column is an indicator and each row is a fisher and a key resource they catch, eat, or culturally connect to. Demographic information and species information will also be included in the columns

In [1]:
# load packages 

import pandas as pd
import matplotlib.pyplot as plt 
import matplotlib
import numpy as np
from zipfile import ZipFile
import os
import seaborn as sns

pd.options.mode.chained_assignment = None

In [2]:
# load all tables and rename all columns corresponding to the resource id to the same column name

# income (capture)
inc_path = "/home/rthoms/ocean_dep/sur_B/capture_table_clean.csv"
inc = pd.read_csv(inc_path, dtype={'focal_resource': object})

# nutrition 
nut_path = "/home/rthoms/ocean_dep/sur_B/nutrition_table_clean.csv"
nut = pd.read_csv(nut_path, dtype={'nutrition_source': object})
nut.rename(columns={'nutrition_source':'focal_resource'}, inplace=True)


# tradition
trad_path = "/home/rthoms/ocean_dep/sur_B/trad_table_clean.csv"
trad = pd.read_csv(trad_path, dtype={'resource_id': object})
trad.rename(columns={'resource_id':'focal_resource'}, inplace=True)

# social 
soc_path = "/home/rthoms/ocean_dep/sur_B/soc_table_clean.csv"
soc = pd.read_csv(soc_path, dtype={'resource_id': object})
soc.rename(columns={'resource_id':'focal_resource'}, inplace=True)

# identity 
iden_path = "/home/rthoms/ocean_dep/sur_B/iden_table_clean.csv"
iden = pd.read_csv(iden_path, dtype={'resource_id': object})
iden.rename(columns={'resource_id':'focal_resource'}, inplace=True)

table_list = [inc, nut, trad, soc, iden]

All tables can be merged based on the id and the focal_resource columns

In [12]:
merge_columns = ['id','focal_resource','gender','pract_cat','ccp']

Index(['Unnamed: 0', 'focal_resource', 'sg_dep_median', 'sg_dep_cat',
       'tradition', 'ParentGlobalID', 'gitonga_s', 'gitonga_p', 'portuguese',
       'scientific', 'family', 'phylum', 'category', 'focal', 'id', 'ccp',
       'gender', 'fish_pract', 'pract_cat'],
      dtype='object')

In [13]:
# columns to be merged from each table
inc_columns = merge_columns + ['prop_income_hot','prop_income_cold']
nut_columns = merge_columns + ['nutrition_prop_hot', 'nutrition_prop_cold'] 
trad_columns = merge_columns + ['tradition']
soc_columns = merge_columns + ['social']
iden_columns = merge_columns + ['identity']

df = pd.merge(inc[inc_columns],nut[nut_columns],on=merge_columns, how='outer')
df = pd.merge(df, trad[trad_columns], on= merge_columns, how= 'outer')
df = pd.merge(df, soc[soc_columns], on= merge_columns, how= 'outer')
df = pd.merge(df, iden[iden_columns], on= merge_columns, how= 'outer')

In [14]:
df

,id,focal_resource,gender,pract_cat,ccp,prop_income_hot,prop_income_cold,nutrition_prop_hot,nutrition_prop_cold,tradition,social,identity
0,02022023MARB02,01,f,shrimp_net,marrambone,0.000000,0.000000,0.033333,0.033333,0.666667,NaN,NaN
1,04022023CHAB03,01,m,fish,chamane,0.258209,0.187287,0.066667,0.066667,0.500000,0.300000,0.233333
2,04032023NGUB01,01,m,fish,nguja,1.000000,0.351852,0.200000,0.200000,0.333333,0.333333,0.466667
3,14022023SAHB06,01,m,fish,sahane,0.210526,0.250000,0.133333,0.166667,NaN,0.500000,NaN
4,01022023MORB07,01,m,fish,morrumbene,0.012105,0.077110,0.100000,0.100000,1.000000,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
1025,07022023CUGBO8,50,f,glean,kuguana,NaN,NaN,NaN,NaN,NaN,NaN,0.200000
1026,08022023MADB08,53,f,glean,madava,NaN,NaN,NaN,NaN,NaN,NaN,0.333333
1027,07022023CUGBO8,55,f,glean,kuguana,NaN,NaN,NaN,NaN,NaN,NaN,0.200000
1028,07022023CUGBO8,56,f,glean,kuguana,NaN,NaN,NaN,NaN,NaN,NaN,0.200000
1029,14022023SAHB04,56,f,glean,sahane,NaN,NaN,NaN,NaN,NaN,NaN,0.666667