# Summary statistic for fishing practices
The purpose of this notebook is to create a table with the median values for hours spend fishing, days per tide, and daily capture for each fishing gear/practice

In [1]:
# load packages
import pandas as pd
import matplotlib.pyplot as plt 
import numpy as np
from zipfile import ZipFile
import os
import seaborn as sns
pd.options.mode.chained_assignment = None

In [2]:
# load the survey table
df_path = '/home/rthoms/ocean_dep/sur_C/adaptive_cap_clean.csv'
df = pd.read_csv(df_path)
df.columns

Index(['Unnamed: 0', 'id', 'date', 'ccp', 'gender', 'age', 'birth_place',
       'mar_status', 'ed_level', 'house_head', 'glean', 'electricity',
       'fridge_freezer', 'fridge_freezer_num', 'water', 'matress',
       'matress_num', 'mobile_phone', 'mobile_phone_num', 'smart_phone',
       'smart_phone_num', 'fan', 'fan_num', 'tv', 'tv_num', 'radio',
       'radio_num', 'stove', 'stove_num', 'transport', 'transport_num',
       'floor', 'floor_other', 'wall', 'wall_other', 'roof', 'roof_other',
       'access_credit_loans', 'community_participation', 'ccp_member',
       'ccp_participation', 'decision_making_manag', 'decision_making_fish',
       'change_seagrass', 'direction_change_seagrass',
       'causes_change_seagrass', 'change_fish', 'direction_change_resources',
       'causes_change_resources', 'link_seagrass_resources',
       'capacity_change_practice', 'capacity_change_livelihood',
       'capacity_organize', 'local_knowledge', 'agency_change_seagrass',
       'agency_change_seagrass_other', 'agency_change_capture',
       'agency_change_capture_other', 'action_seagrass',
       'action_seagrass_other', 'human_mang_seagrass', 'action_capture',
       'action_capture_other', 'human_mang_capture', 'gear', 'hours',
       'cap_daily_total', 'value', 'persons', 'pract_cat', 'cpue'],
      dtype='object')

In [12]:
df_gear_sum= df.groupby(['gear']).agg({'id':'count', 'cap_daily_total': 'mean', 'hours':'mean', 'persons':'mean', 'value':'mean','cpue':'mean'})

In [13]:
df_gear_sum

             id  cap_daily_total     hours    persons        value      cpue
gear
basket_trap   2         3.500000  2.250000        NaN   550.000000  1.666667
diving        1         6.000000  3.000000        NaN   300.000000  2.000000
drag_net      4        57.500000  5.250000  11.500000  5625.000000  1.135417
fence_trap   14         4.884615  3.269231   1.000000   519.230769  1.613553
gill_net     15        10.964286  4.571429   2.333333  1255.892857  1.354239
glean        24         3.928261  3.021739        NaN   202.608696  1.354739
hand_line    12         4.416667  5.083333        NaN   468.366667  1.029861
shrimp_net   27         2.357609  3.065217   2.000000   289.021739  0.448460

In [16]:
df_prac_sum= df.groupby(['pract_cat']).agg({'id':'count', 'cap_daily_total': 'mean', 'hours':'mean', 'persons':'mean', 'value':'mean','cpue':'mean'})

In [17]:
df_prac_sum

            id  cap_daily_total     hours   persons        value      cpue
pract_cat
fish        48        11.152174  4.260870  4.411765  1170.715217  1.351497
glean       24         3.928261  3.021739       NaN   202.608696  1.354739
shrimp_net  27         2.357609  3.065217  2.000000   289.021739  0.448460